<h1>Editing Customer Campaign</h1>

<%= render 'form', customer_campaign: @customer_campaign %>
<br>
<%= link_to 'Show', @customer_campaign, class: "btn btn-primary" %>
<%= link_to 'Back', customer_campaigns_path, class: "btn btn-primary" %>
